* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
.bgg {
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    padding-top: 0%;
}

header {
    background-color: #0077b6; /* Your preferred color */
    color: #ffffff;
    height: 90px;
    padding-top: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 4rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
    font-size: 1rem;
}

.hero {
    background-image: url('your-hero-image.jpg');
    background-size: cover;
    text-align: right;
    padding-right: 10%;
    padding-top: 10%;
    color: black;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero a {
    background-color: white; /* Your preferred color */
    color: #0077b6;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}